USE [master]
GO
/****** Object:  Database [CRUDDB]    Script Date: 30/04/2019 11:19:10 AM ******/
CREATE DATABASE [CRUDDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS02\MSSQL\DATA\CRUDDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUDDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS02\MSSQL\DATA\CRUDDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 30/04/2019 11:19:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[Age] [int] NULL,
	[Salary] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [Name], [Position], [Age], [Salary]) VALUES (8, N'Gagan singh', N'security officer', 25, CAST(6001 AS Decimal(18, 0)))
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Position], [Age], [Salary]) VALUES (9, N'kamal', N'security officer', 29, CAST(6000 AS Decimal(18, 0)))
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Position], [Age], [Salary]) VALUES (10, N'boss', N'security officer', 26, CAST(66563 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Employee] OFF
USE [master]
GO
