@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <img src="~/images/aa.jpg" class="img-responsive" />

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Admin Message</h2>
        <p>
            A small business’ success can depend heavily on its employees. The National Federation of Independent Businesses notes that “employees at small businesses carry more of the company’s weight on their shoulders than those working at larger companies.” As a result, the failure of an individual employee can make a greater impact at a small business than at a larger organization.

            Employee management is one way to help turn an underperforming employee around or prevent high-performing employees from becoming a weak performer. The concept of employee management is more than just making sure that people are doing their jobs; it’s a variety of procedures and strategies that can help you measure, monitor, and interact with the workforce that plays a huge role in your company.


        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Manager Message</h2>
        <p>Employee management should play a role in every part of the employee lifecycle, starting with employee recruiting and training. A key part of this process is building a relationship with your employees. This involves adopting a few crucial tactics to allow your employees realize their full potential. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

</div>